@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  padding-top: env(safe-area-inset-top, 0);
  padding-bottom: env(safe-area-inset-bottom, 0);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  @apply bg-gray-900;
  @apply text-gray-50;
}
